<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!-- estagio do projeto-->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    
    
    <!-- periodo de atualizacao da pagina-->
    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>-1</param-value>
    </context-param>
    
    
    <!--remove comentarios das paginas facelets-->
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    
    
    <!--mantem o estado da arvore de componentes no servidor-->
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    
    
    <!--tamanho do buffer das paginas facelets-->
    <context-param>
        <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
        <param-value>500000</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.responseBufferSize</param-name>
        <param-value>500000</param-value>
    </context-param>
    
    
    <!--servlet que gerencia o ciclo de vida da aplicacao jsf-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    
    <!--extensao das paginas jsf-->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    
    
    <!--tempo em minutos da sessao-->
    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>
    
    
    <!--pagina inicial da aplicacao-->
    <welcome-file-list>
        <welcome-file>conexao.jsf</welcome-file>
    </welcome-file-list>
    
    <!--paginas de erro-->
    <error-page>
        <error-code>404</error-code>
        <location>/erro.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/erro.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/erro.xhtml</location>
    </error-page>
</web-app>
